@model IEnumerable<BookReadingEventViewModel.CommentsViewModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Login_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = ViewBag.Message})
</p>
<table class="table">
    <tr>

        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_on)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_by)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
     
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_on)
        </td>
       
        <td>
            @Html.DisplayFor(modelItem => item.created_by)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
